*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Norse-Bold' ;
    src: url(./assets/Norse-Bold.otf);
}

body{
    display: flex;
}

.left-container{
    min-height: 100vh;
    width: 34.6em;
    background-image: url('./assets/halie-west-25xggax4bSA-unsplash.jpg');
    background-repeat: no-repeat;
    background-size:  cover;
    background-position: center;
    box-sizing: border-box;
    margin-right: .3em;

}

.left-container>p{
    color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: .8em;
    margin: 0 13em;
}


.content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#0000007a ;
    min-width: inherit;
    min-height: 8.5em;
    margin: 12.5em 0;
}

.content> p{
    color: white;
    font-family: 'Norse-Bold';
    font-size: 4.5em;
    font-weight: bolder;  
}

.form-container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100vh;
    padding: 2em;
}


.texts{
    margin-top: 6.5em;
}

.texts>p{
    font-size: 1.6em;
    font-weight: bold;
    margin: .3em;
    text-align: left;
}

.texts>p:nth-child(3){
    margin-top: 1em;
}


form{
    margin-top: 2.8em;
    padding: 0.5em;
    width: 80vh;  
}

form>h2{
    margin-bottom:20px ;
}

fieldset{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 12em;
    border: none;
}
.left,.right{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right{
    padding-right: 180px;
}
