*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'Norse-Bold' ;
    src: url(./assets/Norse-Bold.otf);
}

.main-container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 3fr 5fr;
}

.left{
    grid-column: 1/2;
}

.left-container{
    height: 100%;
    background-image: url(./assets/halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size:  cover;
    background-position: center;
    display: flex;
}

.left-text{
    width: 100%;
    height: 150px;
    max-height: 175px;
    padding: .3em;
    background-color: rgba(0, 0, 0, 0.582);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 12em auto;
}


.left-text p{
    font-size: 6.5rem;
    color:white;
    font-family:'Norse-Bold' ;
}

.rigth{
    grid-column: 2/3;
}
