*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

@font-face {
    font-family: 'Norse-Bold' ;
    src: url(./assets/Norse-Bold.otf);
}

.container{
    display: grid;
    grid-template-columns: 37% 63%;
    height: 100vh;
    width: 100vw;
}

.left{
    background-image: url('./assets/halie-west-25xggax4bSA-unsplash.jpg');
    background-repeat: no-repeat;
    background-size:  cover;
    background-position: center;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 3fr;
}

.left>p{
    grid-row: 3/4;
    align-self: end;
    color: white;
    justify-self: center;
    padding-bottom: 1em;
}

.left-title{
    width: 100%;
    min-height: 150px;
    background-color: #0000006e;
    display: grid;
    text-align: center;
    align-self: center;
    grid-column: 1/2;
    grid-row: 2/3;
    color: white;
    padding: 1em;

}

.left-title>p{
    font-family:'Norse-Bold';
    font-size: 7.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right{
    padding: 1.5em;
    display: grid;
    grid-template-rows: 2fr 1fr 3fr;
    width: 100%;
}

.rigth--text{
    grid-row: 1/2;
    display: grid;
    gap: .3rem;
    justify-self: left;
    align-self: end;
    font-size: 1.3em;
    width: 1;
    width: 100%;
}

.rigth--text h3{
    margin: 15px 0;
}

.form-container{
    grid-row: 2/4;
    max-width: 700px;
    width: 100%;
    padding: .5em;
}

/* form */

.form-container  .title{
    font-size: 1.4rem;
    font-weight: 600;
    position: relative;
}

.form-container form .user-details{
    display: flex;
    flex-wrap: wrap;
}

.form-container form .input-box{
    width: calc(100% /2 - 20px)
}